a {
    display: flex;
    text-decoration: none;
    color: rgb(44, 179, 87);
    font-size: 13px;

}

body {
    background-color: #070707;
}

b {
    font-style: oblique;
}


img {
    width: 400px;
    height: 320px;

}



input {
    width: 320px;
    height: 50px;
    background-color: rgb(239, 228, 228);
    border: none;
}

.search-form {

    border: none;
    background-image: radial-gradient(circle, #35e1a8 20%, rgb(185, 215, 77) 70%);
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    width: 100%;
}


button {
    width: 40px;
    border: none;
    background-color: rgb(165, 214, 235);
    cursor: pointer;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.photo-card:hover {
    transition: transform 300ms cubic-bezier(0.07, 0.76, 0.93, 0.59) 0.1s;
    transform: scale(1.07);
}

.load-more {
    width: 70px;
    height: 40px;
    border: none;
    background-color: rgb(165, 214, 235);
    cursor: pointer;
    margin-left: 600px;
    color: #070707;
    border-radius: 50%;
}

.info {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* @media screen and (max-width:) {} */